body{
    width: 99%;
    height: 98vh;
    background-image:url('https://i.postimg.cc/bvmct2bn/background.jpg');
    background-size: 100%;
    background-repeat: repeat;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#logo{
    position: absolute;
    left: 5vw;
    width: 8vw;
}
.menu{
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.thongtin{
    position: absolute;
    left: 50vw;
    top: 1.6vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.trangchu{
    position: absolute;
    left: 60.5vw;
    top: 1.6vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.thuvien{
    position: absolute;
    left: 70vw;
    top: 1.6vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.lienhe{
    position: absolute;
    left: 80vw;
    top: 1.6vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.slogan{
    font-size: 1vw;
    position: relative;
    left: 7vw;
}
.chaomung{
    top: 15vw;
    position: relative;
}
.ten{
    top: 15.5vw;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
}
.ten2{
    top: 16vw;
    position: relative;
    font-size: 1.5vw;
    font-weight: bold;
}
.gioithieu{
    width: 19vw;
    display: block;
    top: 17vw;
    position: relative;
}
#rong1{
    left: 7.5vw;
    top: 25vw;
    position: absolute;
    font-weight: bold;
    font-size: 1vw;
}
#rong2{
    left: 7.5vw;
    top: 27vw;
    position: absolute;
    font-weight: bold;
    font-size: 1vw;
}
#rong3{
    left: 7.5vw;
    top: 29vw;
    position: absolute;
    font-weight: bold;
    font-size: 1vw;
}
#rong4{
    left: 7.5vw;
    top: 31vw;
    position: absolute;
    font-weight: bold;
    font-size: 1vw;
}
.ketban{
    position: relative;
    left: 7vw;
    top: 26vw;
    background-color: black;
    width: 16vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid white;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* Máy tính bảng, hiển thị chiều ngang */
@media(max-width: 1024px){
    #logo{
        width: 14vw;
    }
    .menu{
        font-size: 2vw;
    }
    .thongtin{
        left: 40vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .trangchu{
        left: 55vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .thuvien{
        left: 70vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .lienhe{
        left: 85vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .slogan{
        font-size: 2.5vw;
    }
    .chaomung{
        top: 20vw;
    }
    .ten{
        top: 21vw;
        font-size: 2vw;
    }
    .ten2{
        top: 22vw;
        font-size: 2vw;
    }
    .gioithieu{
        width: 40vw;
        top: 23vw;
        font-size: 3vw;
    }
    #rong1{
        top: 40vw;
        font-size: 2vw;
    }
    #rong2{
        top: 45vw;
        font-size: 2vw;
    }
    #rong3{
        top: 50vw;
        font-size: 2vw;
    }
    #rong4{
        top: 55vw;
        font-size: 2vw;
    }
    .ketban{
        left: 7vw;
        top: 40vw;
        width: 25vw;
        height: 4vw;
        border: 0.2vw solid white;
        border-radius: 1vh;
        font-size: 2vw;
    }
}

/* Máy tính bảng, hiển thị chiêu dọc */
@media(max-width: 768px){
    #logo{
        width: 16vh;
        left: 42vw;
    }
    .menu{
        font-size: 2vh;
    }
    .thongtin{
        left: 36vw;
        top: 22vh;
        width: 25vh;
        height: 5vh;
    }
    .trangchu{
        left: 36vw;
        top: 29vh;
        width: 25vh;
        height: 5vh;
    }
    .thuvien{
        left: 36vw;
        top: 36vh;
        width: 25vh;
        height: 5vh;
    }
    .lienhe{
        left: 36vw;
        top: 43vh;
        width: 25vh;
        height: 5vh;
    }
    .chaomung{
        font-size: 4.5vh;
        top: 50vh;
    }
    .ten{
        top: 52vh;
        font-size: 4vh;
    }
    .ten2{
        top: 54vh;
        font-size: 4vh;
    }
    .gioithieu{
        width: 40vh;
        top: 56vh;
        font-size: 3vh;
    }
    #rong1{
        top: 80vh;
        left: 39vw;
        font-size: 3vh;
    }
    #rong2{
        top: 85vh;
        left: 39vw;
        font-size: 3vh;
    }
    #rong3{
        top: 90vh;
        left: 39vw;
        font-size: 3vh;
    }
    #rong4{
        top: 95vh;
        left: 39vw;
        font-size: 3vh;
    }
    .ketban{
        left: 27vw;
        top: 70vh;
        width: 50vw;
        height: 4vh;
        border: 0.2vw solid white;
        border-radius: 1vh;
        font-size: 3vh;
    }
}

/* Điện thoại, hiển thị chiều dọc */
@media(max-width: 425px){
    #logo{
        width: 16vh;
        left: 35vw;
    }
    .menu{
        font-size: 2vh;
    }
    .thongtin{
        left: 25vw;
        top: 22vh;
        width: 25vh;
        height: 5vh;
    }
    .trangchu{
        left: 25vw;
        top: 29vh;
        width: 25vh;
        height: 5vh;
    }
    .thuvien{
        left: 25vw;
        top: 36vh;
        width: 25vh;
        height: 5vh;
    }
    .lienhe{
        left: 25vw;
        top: 43vh;
        width: 25vh;
        height: 5vh;
    }
    .chaomung{
        font-size: 4.5vh;
        top: 50vh;
    }
    .ten{
        top: 52vh;
        font-size: 4vh;
    }
    .ten2{
        top: 54vh;
        font-size: 4vh;
    }
    .gioithieu{
        width: 40vh;
        top: 56vh;
        font-size: 3vh;
    }
    #rong1{
        top: 85vh;
        left: 30vw;
        font-size: 3vh;
    }
    #rong2{
        top: 90vh;
        left: 30vw;
        font-size: 3vh;
    }
    #rong3{
        top: 95vh;
        left: 30vw;
        font-size: 3vh;
    }
    #rong4{
        top: 100vh;
        left: 30vw;
        font-size: 3vh;
    }
    .ketban{
        left: 5vw;
        top: 70vh;
        width: 90vw;
        height: 4vh;
        border: 0.2vw solid white;
        border-radius: 1vh;
        font-size: 3vh;
    }
}
