body{
    width: 100%;
    height: 100vh;
    background-image:url('https://i.postimg.cc/bvmct2bn/background.jpg');
    background-size: 100%;
    background-repeat: repeat;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#logo{
    position: absolute;
    left: 5vw;
    width: 8vw;
}
.menu{
    position: absolute;
    top: 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.thongtin{
    position: absolute;
    left: 50vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.6vw;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.trangchu{
    position: absolute;
    left: 60.5vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.6vw;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.thuvien{
    position: absolute;
    left: 70vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.6vw;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
.lienhe{
    position: absolute;
    left: 80vw;
    background-color: black;
    width: 8vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.6vw;
    border: 0.2vw solid white;
    border-radius: 1vw;
}
#lienhe{
    top: 11vw;
    left: 7vw;
    position: absolute;
    color: #000;
    height: 4vw;
    width: 8vw;
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}
#gopy{
    top: 17vw;
    left: 7vw;
    position: absolute;
    color: #000;
    height: 4vw;
    width: 8vw;
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}
#yeucau{
    top: 14vw;
    left: 20vw;
    position: absolute;
    color: #000;
    height: 6vw;
    width: 30vw;
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}
#ndgopy{
    top: 24vw;
    left: 7vw;
    position: absolute;
    color: #000;
    height: 39vw;
    width: 43vw;
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}
input{
    width: 20vw;
    height: 1.5vw;
    border-radius: 0.5vw;
    background-color: black;
    color: white;
}
#editinput{
    color: black;
    top: 25vw;
    left: 10vw;
    position: absolute;
}
button{
    width: 7vw;
    height: 2vw;
    color: black;
    border-radius: 1vw;
}
/* Máy tính bảng, hiển thị chiều ngang */
@media(max-width: 1024px){
    #logo{
        width: 14vw;
    }
    .menu{
        font-size: 2vw;
    }
    .thongtin{
        left: 40vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .trangchu{
        left: 55vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .thuvien{
        left: 70vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    .lienhe{
        left: 85vw;
        top: 2vw;
        width: 13vw;
        height: 4vw;
    }
    #lienhe{
        top: 25vh;
        height: 4vh;
        width: 16vw;
    }
    #gopy{
        top: 32vh;
        width: 16vw;
        height: 5vh;
    }
    #yeucau{
        top: 19.5vh;
        left: 30vw;
        width: 40vw;
        height: 15vh;
    }
    #ndgopy{
        height: 90vh;
        top: 42vh;
    }
    #editinput{
        top: 45vh;
    }
    #editinput input{
        width: 30vw;
        height: 3vh;
    }
    button{
        width: 10vw;
        height: 5vh;
        border-radius: 25px;
    }
}
/* Máy tính bảng, hiển thị chiêu dọc */
@media(max-width: 768px){
    #logo{
        width: 16vh;
        left: 42vw;
    }
    .menu{
        font-size: 2vh;
    }
    .thongtin{
        left: 36vw;
        top: 22vh;
        width: 25vh;
        height: 5vh;
    }
    .trangchu{
        left: 36vw;
        top: 29vh;
        width: 25vh;
        height: 5vh;
    }
    .thuvien{
        left: 36vw;
        top: 36vh;
        width: 25vh;
        height: 5vh;
    }
    .lienhe{
        left: 36vw;
        top: 43vh;
        width: 25vh;
        height: 5vh;
    }
    #lienhe{
        top: 55vh;
        left: 15vw;
        height: 4vh;
        width: 16vw;
    }
    #gopy{
        top: 62vh;
        left: 15vw;
        width: 25vw;
        height: 5vh;
    }
    #yeucau{
        top: 49.9vh;
        left: 50vw;
        width: 40vw;
        height: 15vh;
    }
    #ndgopy{
        width: 60vw;
        height: 75vh;
        top: 70vh;
        left: 15vw;
    }
    #editinput{
        top: 72vh;
        left: 20vw;
    }
    #editinput input{
        width: 30vw;
        height: 3vh;
    }
    button{
        width: 20vw;
        height: 5vh;
        border-radius: 25px;
    }
}
/* Điện thoại, hiển thị chiều dọc */
@media(max-width: 425px){
    #logo{
        width: 16vh;
        left: 35vw;
    }
    .menu{
        font-size: 2vh;
    }
    .thongtin{
        left: 25vw;
        top: 22vh;
        width: 25vh;
        height: 5vh;
    }
    .trangchu{
        left: 25vw;
        top: 29vh;
        width: 25vh;
        height: 5vh;
    }
    .thuvien{
        left: 25vw;
        top: 36vh;
        width: 25vh;
        height: 5vh;
    }
    .lienhe{
        left: 25vw;
        top: 43vh;
        width: 25vh;
        height: 5vh;
    }
    #lienhe{
        top: 55vh;
        left: 15vw;
        height: 6vh;
        width: 25vw;
    }
    #gopy{
        top: 64vh;
        left: 15vw;
        width: 25vw;
        height: 5vh;
    }
    #yeucau{
        top: 52.5vh;
        left: 50vw;
        width: 40vw;
        height: 20vh;
    }
    #ndgopy{
        width: 76vw;
        height: 85vh;
        top: 80vh;
        left: 15vw;
    }
    #editinput{
        top: 80vh;
        left: 20vw;
    }
    #editinput input{
        width: 60vw;
        height: 3vh;    
    }
    button{
        width: 20vw;
        height: 5vh;
        border-radius: 25px;
    }
}
